<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros y Autores</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1>Agregar un Libro</h1>
                <form action="/crear_libro" method="post">
                    {% csrf_token %}
                    <label>Title:</label>
                    <input type="text" name="title" placeholder="Titulo del Libro" class="form-control form-group">
                    <label>Descripcion:</label>
                    <input type="text" name="desc" placeholder="Breve Reseña" class="form-control form-group"><br>
                    <input type="submit" value="Agregar" class="btn btn-primary">
                    <a href="/authors" class="btn btn-primary">Ver lista de Autores</a>
                </form>
                
            </div>
            <hr class="mt-5" />
            <div class="row">
                <p></p>
                <table class="table table-light table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Libro</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in all_books %}
                            <tr>
                                <td scope="row">{{book.id}}</td>
                                <td>{{book.title}}</td>
                                <td>{{book.desc}}</td>
                                <td><a href="/books/{{book.id}}">Ver mas...</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>